<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{title}}</title>
</head>
<body>
  <h1>Welcome to the {{pageName}}</h1>
  
  <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
  <p>The current set name is {{currentName}}</p>
  <a href="/page1">Page 1</a>
  <a href="/page2">Page 2</a>
  <a href="/page3">Page 3</a>
</body>
</html>