<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{title}}</title>
</head>
<body>
  <h1>404 the {{page}} was not found</h1>
  
  <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
  <a href="/">Home</a>
  <br/>
  <img src="/assets/img/internet.png">
</body>
</html>